body {
  /*background-color: #69b8dd;*/
  /*background-image: url(https://thumbs.dreamstime.com/b/line-science-education-blue-tile-pattern-vector-illustration-school-learning-seamless-background-75134840.jpg);*/
  background-image: url("assets/img/patter-bg-n.jpg");
  font-family: 'Roboto Condensed', sans-serif;

}
