<section class="container ">
  <!-- <div class="col-md-12" style="background-color:#fff;">
    <h2 class="text-center text-uppercase"> Formato para creación de escuelas </h2>
    <hr>
  </div> -->
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="col-md-6 col-xs-12 float-left bg-style">
        <form>
          <h2 class="font-weight-bold"> Formato para creación de escuelas </h2>
          <hr>
          <h4 class="">Ingresa los datos:</h4>
          <br>
          <div class="form-group">
            <label>Nombre:</label>
            <input [(ngModel)]="nombre" class="form-control">
          </div>
          <div class="form-group">
            <label>Número de alumnos: </label>
            <input [(ngModel)]="numeroAlumnos" class="form-control">
          </div>
          <div class="form-group">
            <label>Director:</label>
            <input [(ngModel)]="director" class="form-control">
          </div>
          <div>
            <button (click)="onAdd()" class="btn btn-outline-primary">Agregar</button>
          </div>
          <br>
          <div class="form-group">
            <label>Escuelas disponibles:</label>
            <select [(ngModel)]="escuela" class="form-control">
              <option *ngFor="let e of escuelas" [value]="e.nombre">{{e.nombre}}</option>
            </select>
            <br>
            <div>
              <button (click)="onSelect()" class="btn btn-outline-primary">Seleccionar</button>
            </div>
          </div>
          <div>
            {{message}}
          </div>
        </form>
      </div>
      <div class="col-md-6 float-right">
        <img src="./assets/img/learning-5.png" alt="learning" width="100%">
      </div>
    </div>
  </div>
</section>
